	<aside style="padding: 40px;margin-top:90px;font-size:16px;line-height:24px;">
		<p style="border-left:4px solid #254960;padding-left:10px;font-size:18px;line-height:1.5;margin-top:20px;margin-bottom:20px;color:#acacac;font-weight:400;">
			Login to start using Stylus - enter your Username / Password and Domain.
		</p>
	</aside>
