	<aside style="padding: 40px;margin-top:40px;color:#acacac;font-size:16px;line-height:24px;">
	    <div style="height:70px;">
            <p id="message" style="font-size:20px;line-height:2.5;margin-top:20px;margin-bottom:20px;padding-left:10px;border-left:4px solid #254960;font-weight:300;text-transform:uppercase;"></p>
        </div>
		<p style="border-left:4px solid #254960;padding-left:10px;font-size:20px;line-height:1.5;margin-top:20px;margin-bottom:20px;color:#acacac;font-weight:400;">
			Create / amend <em>STYLUS</em> settings.
		</p>
	</aside>
