	<h1 style="margin:0;font-size:32px;font-weight:600;color:#000;padding-left:30px;padding-top:40px;text-transform:uppercase;">Settings</h1>
	<div style="padding: 10px 20px;margin:20px 0;">
	    <div style="padding:20px;">
	    	
	    </div>
    </div>
