<!DOCTYPE html>
<html>
<head>
<!-- script libraries -->
<!-- <script src="http://code.jquery.com/jquery-1.9.1.js"></script> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/js/succinct.min.js"></script>
<!-- style stuff -->
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css" />
<!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">-->

<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
<link media="all" type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,900">
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />

<title>Stylus</title>
</head>
<body>
<aside class="navbar">
<h1 class="logo">
<a href="#">Stylus</a>
</h1>

<ul class="navigator">
<li id="home"><a href="/stylus">home</a></li>
<hr style="margin-top:10px;margin-bottom:10px;margin-left:20px;height:2px;color:lightblue;border:0 none;background-color:lightblue;">
[% IF c.user_exists %]
<li><a href="/stylus/content">content</a></li>
<li><a href="/stylus/partials">partials</a></li>
<hr style="margin-top:10px;margin-bottom:10px;margin-left:20px;height:2px;color:lightblue;border:0 none;background-color:lightblue;">
[% END %]
[% IF c.user_exists %]
<li id="contact" style="margin-top:5px;"><a href="/stylus/settings">settings</a></li>
<hr style="margin-top:10px;margin-bottom:10px;margin-left:20px;height:2px;color:lightblue;border:0 none;background-color:lightblue;">
<li id="process" style="margin-top:5px;"><a href="/stylus/process">process</a></li>
<hr style="margin-top:10px;margin-bottom:10px;margin-left:20px;height:2px;color:lightblue;border:0 none;background-color:lightblue;">
[% END %]
[% IF c.user_exists %]
<li><a href="/stylus/logout">logout</a></li>
[% ELSE %]
<li id="login" class="show"><a href="/stylus/login">login</a></li>
[% END %]
</ul>

<h2 style="margin-top:300px;width:170px;height:80px;font-size:42px;font-weight:300;-moz-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);"><span style="border-bottom: 3px solid lightblue;">STYLUS</span></h2>
</aside>
<section style="border: 0 solid red;display:block;float:left;width:58%;position:relative">
<div style="margin:20px 0;padding-left:125px;border-right:1px solid #eee;min-height:900px;">[% content %]</div>
</section>
<section style="display:block;float:left;width:42%;position:relative;">
<div style="margin:10px 0;padding-right:50px;">[% INCLUDE $righthalf %]</div>
</section>
<!-- custom script stuff -->
<script>
</script>
</body>
</html>
