<!DOCTYPE html>
<html>
<head>
<!-- script libraries -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<!-- style stuff -->
<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<title>Stylus</title>
</head>
<body>
<aside class="navbar">
<h1 class="logo">
<a href="#">Stylus</a>
</h1>
<ul class="navigator">
<li id="home"><a href="#">home</a></li>
<li class="hide"><a href="#">articles</a></li>
<li class="hide"><a href="#">logout</a></li>
<li id="login" class="show"><a href="#">login</a></li>
<li class="hide"><a href="#">create</a></li>
<li id="contact" style="margin-top:15px;"><a href="#">contact</a></li>
</ul>
<h2 style="margin-top:300px;width:170px;height:80px;font-size:42px;font-weight:300;-moz-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);"><span style="border-bottom: 3px solid gray;">STYLUS</span></h2>
</aside>
<section style="border: 0 solid red;display:block;float:left;width:58%;position:relative">
<div style="padding-left:125px;border-right:1px solid #eee;min-height:900px;">[% content %]</div>
</section>
<section style="display:block;float:left;width:42%;position:relative;">
<!--<div style="padding-right:50px;">[% INCLUDE $righthalf %]</div>-->
</section>	
<!-- custom script stuff -->
<script>
</script>
</body>
</html>
